body {
  font-family: "Microsoft YaHei", "Arial", sans-serif;
}
.hint {
  padding: 14px;
}
.slider-cont {
  margin-top: 30px;
}
.logo-hk01news {
  width: 3em;
  height: auto;
}
.section-fare {
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid #DDD;
  border-radius: 20px;
}
